<nav id="sidebar">
  <div class="sidebar-header">
    <h3>My App</h3>
  </div>

  <ul class="list-unstyled components">
    <li>
      <a [routerLink]="['/home']">
        <i class="fas fa-home"></i>
        Home
      </a>
    </li>
    <li>
      <a [routerLink]="['/app1']">
        <i class="fas fa-briefcase"></i>
        App1
      </a>
    </li>
    <li>
      <a [routerLink]="['/app1/dashboard']">
        <i class="fas fa-briefcase"></i>
        App1 Dashboard
      </a>
    </li>
    <li>
      <a [routerLink]="['/app1/about']">
        <i class="fas fa-briefcase"></i>
        App1 About
      </a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>